:root {
    --board-size: 30vw;

    --gray-color: rgb(136, 149, 179);
    --pink-color: rgb(218, 182, 252);
    --malva-color: rgb(187, 173, 255);
    --light-blue-color: rgb(159, 160, 255);
    --dark-blue-color: rgb(142, 148, 242);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--gray-color);
}

/* TEXT */
.title {
    font-size: 3em;
    color: var(--pink-color);
}

/* BOARD */

.board-cell {
    background-color: var(--gray-color);
    border: solid 2px var(--pink-color);
    border-radius: 10px;
}

.board-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    gap: 10px;

    width: var(--board-size);
    height: var(--board-size);
}

.p-16 {
    padding: 16px;
}