:root {
    --board-size: 30vw;

    --gray-color: rgb(136, 149, 179);
    --pink-color: rgb(218, 182, 252);
    --malva-color: rgb(187, 173, 255);
    --green-color: rgb(229, 244, 227);
    --blue-color: rgb(142, 148, 242);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--gray-color);
}

button {
    font-size: 1.25em;
    color: var(--green-color);
    width: 120px;
    height: 2em;
    border: solid 2px var(--green-color);
    border-radius: 10px;
    background-color: transparent;
}

/* TEXT */
.title {
    font-size: 3em;
    color: var(--pink-color);
    text-align: center;
}

/* BOARD */

.board-cell {
    background-color: var(--gray-color);
    border: solid 5px var(--pink-color);
    border-radius: 10px;
}

.board-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    gap: 10px;

    width: var(--board-size);
    height: var(--board-size);
}

/* WIDTH */
.full-width {
    width: 100vw;
}

/* PADDING */

.p-16 {
    padding: 16px;
}

/* FLEX */
.flex {
    display: flex;
}

.justify-evenly {
    justify-content: space-evenly;
}